*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.navigation {
  margin-left: 10px;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__item {
  margin: 0 40px;
  padding: 7px 20px;
}

.navigation__link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.section:nth-child(1) {
  background-color: #FFF68F;
}

.section:nth-child(2) {
  background-color: #cae1ff;
}

.section:nth-child(3) {
  background-color: #54ff9f;
}

.section:nth-child(4) {
  background-color: #40e0d0;
}

.section__container {
  margin: 0 auto;
}

.section__title {
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: chocolate;
}

.full-page {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.sidebar-nav {
  position: fixed;
  right: 40px;
  top: calc(50% + 55px);
  padding: 20px 0;
  border-radius: 35px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07), 0 7px 14px rgba(0, 0, 0, 0.14);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07), 0 7px 14px rgba(0, 0, 0, 0.14);
  background-color: #fff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.sidebar-nav__button {
  position: relative;
  height: 36px;
  width: 40px;
  cursor: pointer;
}

.sidebar-nav__button::after {
  content: '';
  position: absolute;
  left: 13px;
  top: 8px;
  width: 14px;
  height: 14px;
  border: 3px solid #a7a7a7;
  border-radius: 50%;
}

.sidebar-nav__button_is-active::after {
  border-color: #404040;
}

.sidebar-nav__item {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  right: 40px;
  top: 7px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4px 12px;
  border-radius: 15px;
  -webkit-transition: visibility 0.25s, opacity 0.25s, -webkit-transform 0.25s ease-in-out;
  transition: visibility 0.25s, opacity 0.25s, -webkit-transform 0.25s ease-in-out;
  transition: visibility 0.25s, opacity 0.25s, transform 0.25s ease-in-out;
  transition: visibility 0.25s, opacity 0.25s, transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.sidebar-nav__item:hover {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
/*# sourceMappingURL=main.css.map */